<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/>
    <title>供应商系统</title>
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css"/>
    <script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
</head>
<body>
<div class="page">
    <header class="bar bar-nav">
        <a th:href="@{/view/supplierOrder(name=${name},supplierId=${supplierId})}" class="button pull-left">返回</a>
        <h1 class="title">供应商裁数信息</h1>
    </header>
    <div class="content" style="margin-bottom: 30px;">
        <div class="content-block" style="padding: 0 0rem">
            <form action="/view/orderCountList" style="margin-top: -20px">
                <div class="row" style="margin-left: .1rem; margin-right: .5rem">
                    <div class="search-input col-40">
                        <input type="hidden" name="supplierId" th:value="${supplierId}">
                        <input type="date" id="sdate" name="sdate" placeholder="输入开始时间" th:value="${sdate}"/>
                    </div>
                    <div class="search-input col-40">
                        <input type="date" id="edate" name="edate" placeholder="输入结束时间" th:value="${edate}"/>
                    </div>
                    <button class="button button-fill button-primary col-20">搜索</button>
                </div>
            </form>
            <div class="list-block contacts-block" style="margin-top: -5px">
                <div class="list-group">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">时间</div>
                                    |
                                    <span class="item-title">款号</span>
                                    |
                                    <div class="item-title">颜色</div>
                                    |
                                    <div class="item-title">裁数</div>
                                    |
                                    <div class="item-title">已交</div>
                                </div>
                            </div>
                        </li>
                        <li th:each="item : ${list}">
                            <div class="item-content">
                                <div class="item-inner">
                                    <span class="item-title" th:text="${item.orderDate}"></span>
                                    |
                                    <span class="item-title" th:text="${item.style}"></span>
                                    |
                                    <div class="item-title" th:text="${item.color}"></div>
                                    |
                                    <div class="item-title" th:text="${item.outCount}"></div>
                                    |
                                    <div class="item-title" th:text="${item.finishCount}"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <nav class="bar bar-tab">
        <a class="tab-item active" href="/view/supplier">
            <span class="icon icon-me"></span>
            <span class="tab-label">供应商</span>
        </a>
        <a class="tab-item" href="/view/preOrder">
            <span class="icon icon-card"></span>
            <span class="tab-label">预订单</span>
        </a>
        <a class="tab-item" href="/view/record">
            <span class="icon icon-message"></span>
            <span class="tab-label">今日备注</span>
        </a>
        <a class="tab-item" href="/view/search">
            <span class="icon icon-search"></span>
            <span class="tab-label">搜索</span>
        </a>
        <a class="tab-item" href="/view/config">
            <span class="icon icon-computer"></span>
            <span class="tab-label">系统配置</span>
        </a>
    </nav>
</div>
</body>
</html>
